body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  background-image: url('image/sexta-feira13.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}


/* Escurece o fundo para melhor leitura */
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
}


h1 {
  color: #29da05;
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  color: #333;
  font-size: 1.1em;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 12px;
  width: 80%;
  max-width: 500px;
  border: 2px solid #60041A;
  border-radius: 6px;
  font-size: 1em;
  margin-bottom: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #A34743;
  box-shadow: 0 0 8px rgba(163, 71, 67, 0.5);
}

button {
  background-color: #60041A;
  color: #FFF;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}


button:hover {
  background-color: #A34743;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

ul li {
  background-color: #FFF;
  color: #000;
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

button.remover {
  background-color: #61d800;
  color: #F4F0EA;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.6em;
  margin-left: 5px;
  transition: background-color 0.3s ease;
}
button.remover:hover {
  background-color: #60041A;
}
button.editar {
  background-color: #331F19;
  color: #F4F0EA;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.6em;
  margin-left: 5px;
  transition: background-color 0.3s ease;
}
button.editar:hover {
  background-color: #744d41;
}

.botao_lista {
  background-color: #6b0000;
}

.botao_lista:hover {
  background-color: #600404;
  color: #F4F0EA;
}